html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  scroll-behavior: smooth;
}

h3 {
  text-align: center;
  color:var(--gris-color);
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: 100;
}

hr { 
  border-color: rgb(255, 255, 255,0.2);
}

#quienes-somos .card {
  background-color: transparent;
  color: var(--gris-color);
}

#quienes-somos i {
  background-color: var(--celeste-color);
  text-align: center;
  height: auto;
}


@media screen and (max-width: 576px){
  #quienes-somos {
    display: none; 
  }
}

.card img {
  aspect-ratio: 4/3;
}


#destacados .card {
  background-color:var(--celeste-color);
}

.btn {
  background-color: var(--celeste-color);
}

footer {
  background-color: var(--celeste-color);
  color: white;
  height: 80px;
  text-align: center;
}

